<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best.spring.boot.mybatis.page.helper.mapper.UserMapper">

<select id="selectList" resultType="com.best.spring.boot.mybatis.page.helper.mapper.User">
    select * from user
    </select>
</mapper>