<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.best.spring.boot.web.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/java" />
        <option name="javaModelPackage" value="com.best.spring.boot.web" />
        <option name="javaModelPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spring-boot-start" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spring-boot-start">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.best.spring.boot.web.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/java" />
                  <option name="javaModelPacakge" value="com.best.spring.boot.web" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/java" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="test:role">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="typeHandler" value="123123123" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="role" />
                        <option name="javaType" value="java.lang.Enum" />
                        <option name="typeHandler" value="123123" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="user_id" />
                        <option name="typeHandler" value="123123213" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="spring-boot-start" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapperxml" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/spring-boot/spring-boot-start/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>